@import '../../utils/vars.scss';

.main {
  background-color: $background-color;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: $container-width;
    margin: 0 auto;
    padding: 28px 0px 63px;
    background-color: $background-color;
  }
}
