@import '../../utils//mixins.scss';
@import '../../utils//vars.scss';

.game-card-mobile {
  position: relative;
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 12px;

  

  &__header {
    padding: 8px 16px;
    border-bottom: 1px solid $light-gray-color;
  }

  &__time {
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $main-gray-color;

    &-live {
      display: inline-block;
      font-family:'Inter';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: $orange-color;

      &--bold {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  &__forecast {
    position: absolute;
    top: 8px;
    right: 16px;
    display: flex;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: $blue-color;
    cursor: pointer;

    &__text {
      display: inline-block;
    }

    &__image {
      height: 16px;
      width: 16px;
      margin-right: 2px;
    }
  }

  &__content {
    padding: 12px 20px 16px 16px;
  }

  &__team {

    &-info {
      display: flex;
      align-items: center;
    }

    &-description {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &-image {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }

    &-addititional-count {
      @include gameCardMobile;
      display: inline-block;
      font-weight: 400;
      color: $main-gray-color;
    }

    &-count {
      @include gameCardMobile;
      display: inline-block;
      color: $black-color;

      &--orange {
        color: $orange-color;
      }

      &-wrapper {
        display: flex;
      }

      &--none {
        color: $light-gray-color;
      }
    }
  }
}
