@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.forecasts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;

  @include onDesktop {
    margin-bottom: 55px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;

    @include onDesktop {
      flex-direction: row;
      justify-content: left;
      margin-bottom: 27px;
    }
  }

  &__image {
    height: 16px;
    width: 16px;
    margin-top: 4px;
  }
  
  &__title {
    @include titleText;
    margin: 0 8px;
    white-space: nowrap;

    &-block {
      display: flex;
      margin-bottom: 16px;

      @include onDesktop {
        margin-bottom: 0;
        margin-right: 40px;
      }
    }
  }

  &__navigation {
    display: flex;
  }

  &__text {
    @include smallBoldText;
    margin-right: 20px;
    line-height: normal;
    color: $blue-color;
    transition: all 0.3s;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      color: $black-color;
    }

    &--is-open {
      position: relative;
      color: $black-color;

      &::after {
        content: '';
        width: 100%;
        height: 3px;
        bottom: -4px; 
        left: 0;
        position: absolute;
        background-color: $blue-color;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include onDesktop {
      flex-direction: row;
      margin-bottom: 43px;
    }
  }

  &__button {
    @include smallBoldText;
    display: inline-flex;
    gap: 10px;
    width: max-content;
    margin: 0 auto;
    padding: 7px 12px 7px 20px;
    line-height: 24px;
    border-radius: 20px;
    border: 3px solid $blue-color;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
