@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.header {
  @include smallBoldText;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $container-width;
    margin: 0 auto;
    padding: 12px 19px 12px 12px;

    @include onDesktop {
      padding: 27px 19px 12px 0px;
    }
  }

  &__logo {
    width: 142px;
    height: 24px;

    @include onDesktop {
      width: 165px;
      height: 28px;
    }
  }

  &__menu-button {
    @include onDesktop {
      display: none;
    }
  }

  &__navigation {
    @include onMobile {
      display: none;
    }
  }

  &__language {
    display: flex;
    cursor: pointer;

    &-image {
      margin-right: 9px;
    }

    &-text {
      line-height: 24px;
    }
  }
}
