@import '../../utils/mixins.scss';

.side-menu {
  @include smallBoldText;
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;

  
  &--is-close {
    transform: translateX(-100%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    padding: 16px 12px 0px 28px;
  }

  &__logo{
    height: 24px;
    width: 142px;
    margin-right: 82px;

  }

  &__close{
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background-color: black;
    visibility: visible;
    opacity: 70%;
    transition: all 0.5s;
  
    &--is-close {
      visibility: hidden;
      opacity: 0%;
    }
  }
}
