$container-width: 1128px;

$background-color: #F3F6F9;
$black-color: #212121;
$blue-color: #255CED;
$orange-color: #FD6230;
$yellow-color: #FEDB0D;
$light-gray-color: rgba(99, 112, 147, 0.30);
$main-gray-color: #637093;
$light-blue-color: #e7edfe;
$main-blue-color: #5685FF;