@import '../../utils//mixins.scss';
@import '../../utils//vars.scss';

.games-list-mobile {
  @include onDesktop {
    display: none;
  }
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
  padding: 0 12px;

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin: 26px 0 auto;
    padding: 8px 12px 8px 20px;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 18px;
    color: $black-color;
    border-radius: 20px;
    border: 3px solid $blue-color;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
